[mcu dinghy]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_280025000A57465238313620-if00
#canbus_uuid: 

#[temperature_sensor f0]
#sensor_type: BME280
#i2c_address:
#   Default is 118 (0x76). The BMP180, BMP388 and some BME280 sensors
#   have an address of 119 (0x77).
#i2c_mcu: dinghy
#i2c_bus: spi1

#[temperature_sensor f1]
#sensor_type: BME280
#i2c_software_scl_pin: dinghy:PB2
#i2c_software_sda_pin: dinghy:PB3

[thermistor Trianglelab-NTC100K-B3950]
temperature1: 25
resistance1: 103180
temperature2: 150
resistance2: 1366.2
temperature3: 250
resistance3: 168.6

[temperature_sensor _electronics_Bay]
sensor_type: temperature_host
min_temp: 0
max_temp: 65

[temperature_sensor th1]
sensor_type: Trianglelab-NTC100K-B3950
pullup_resistor: 4700
sensor_pin: dinghy:PA1
min_temp: 0
max_temp: 80

[temperature_sensor th2]
sensor_type: Trianglelab-NTC100K-B3950
pullup_resistor: 4700
sensor_pin: dinghy:PA2
min_temp: 0
max_temp: 80

[temperature_sensor th3]
sensor_type: Trianglelab-NTC100K-B3950
pullup_resistor: 4700
sensor_pin: dinghy:PA3
min_temp: 0
max_temp: 80

[temperature_sensor chamber_heater]
sensor_type: Trianglelab-NTC100K-B3950
pullup_resistor: 4700
sensor_pin: dinghy:PB0

#[temperature_sensor th4]
#sensor_type: PT1000
#pullup_resistor: 2200
#sensor_pin: dinghy:PB0

#[temperature_sensor th5]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#pullup_resistor: 2200
#sensor_pin: dinghy:PA5

#[temperature_sensor th6]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA6

#[temperature_sensor th7]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PA7

#[temperature_sensor th8]
#sensor_type: Generic 3950
#pullup_resistor: 2200
#sensor_pin: dinghy:PB1


[neopixel _rgb0]
pin: dinghy:PB10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
chain_count: 9
initial_red: 0.1
initial_green: 0
initial_blue: 0
initial_white: 0.1

[neopixel _rgb1]
pin: dinghy:PB11
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
chain_count: 9
initial_red: 0.1
initial_green: 0
initial_blue: 0
initial_white: 0.1

[neopixel _rgb2]
pin: dinghy:PB12
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
chain_count: 9
initial_red: 0.1
initial_green: 0
initial_blue: 0
initial_white: 0.1

[neopixel _rgb3]
pin: dinghy:PB13
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW
chain_count: 9
initial_red: 0.1
initial_green: 0
initial_blue: 0
initial_white: 0.1

[heater_fan bed_fans]
pin: dinghy:PA8
kick_start_time: 2.5
max_power: 1
shutdown_speed: 1.0
heater: chamber
heater_temp: 50.0

[heater_fan blower_fans]
pin: dinghy:PB4
kick_start_time: 2.5
max_power: 1
shutdown_speed: 1.0
heater: chamber
heater_temp: 50.0

#[fan_generic chamber_heater]
#pin: dinghy:PA4

#[fan_generic fan2]
#pin: dinghy:PA4
#tachometer_pin: dinghy:PC15
#tachometer_ppr: 2
#tachometer_poll_interval: 0.001
#cycle_time: 0.00004
#hardware_pwm: true

#[fan_generic fan3]
#pin: dinghy:PB14
#tachometer_pin: dinghy:PB15
