[temperature_fan _e_fan1]
pin: PB7
control: watermark
kick_start_time: 0.05
max_power: .8
min_temp: 0
max_temp: 75
max_delta: 3
target_temp: 45
shutdown_speed: 0.0
sensor_type: temperature_combined
sensor_list: temperature_sensor leviathan
combination_method: mean
maximum_deviation: 5
min_temp: 0
max_temp: 65

[temperature_fan _e_fan2]
pin: PB3
control: watermark
kick_start_time: 0.5
max_power: .8
min_temp: 0
max_temp: 75
max_delta: 3
target_temp: 45
shutdown_speed: 0.0
sensor_type: temperature_combined
sensor_list: temperature_sensor leviathan
combination_method: mean
maximum_deviation: 5
min_temp: 0
max_temp: 65

#[fan_generic heater_fan]
#pin: PF7
#enable_pin: 
