[gcode_macro G28]
rename_existing: G28.1
gcode:
	{% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
		{% set PROBE_TEMP = 165 %}
    		{% set MAX_TEMP = PROBE_TEMP + 5 %}
    		{% set ACTUAL_TEMP = printer.extruder.temperature %}
    		{% set TARGET_TEMP = printer.extruder.target %}

#		SAVE_GCODE_STATE NAME=G28.1

    		{% if TARGET_TEMP > PROBE_TEMP %}
        		{ action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
			SET_DISPLAY_TEXT MSG="Cooling Nozzle"
        		M109 S{ PROBE_TEMP }
    		{% else %}
        	# Temperature target is already low enough, but nozzle may still be too hot.
        	{% if ACTUAL_TEMP > MAX_TEMP %}
            		{ action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
			SET_DISPLAY_TEXT MSG="Cooling Nozzle"
            		TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        	{% endif %}
    	{% endif %}		
		STATUS_HOMING
		G28.1
	{% endif %}

#		RESTORE_GCODE_STATE NAME=G28.1
