[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_140893415154354D38202020FF0A3235-if00

default_probe_method: proximity
contact_max_hotend_temperature: 165 # increase to enable hot contacting

speed: 5
lift_speed: 30

x_offset: 0 # update with offset from nozzle on your machine
y_offset: +27.5 # update with offset from nozzle on your machine

mesh_main_direction: y
mesh_runs: 2

home_xy_position: 150, 150 # update with your bed center

home_z_hop: 10
home_z_hop_speed: 30
home_xy_move_speed: 150

home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

#home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
#home_gcode_post_x: _HOME_POST_AXIS AXIS=X


#home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
#home_gcode_post_y: _HOME_POST_AXIS AXIS=Y
