#################################################################################################################
################################## Orbittool O2S CONFIGURATION ##################################################
#################################################################################################################

#config file version v1.0.0
#release date: 17.07.2025


# End Stop pin PB0
# 24V ADC feedback pin PB1 - feature will be removed probably
# Z senzor Probe PB3
# Z Sensor servo PA15
# Orbiter filament sensor PA8
# Orbiter filament unload PA9


[mcu orbitoolO2S]
serial:/dev/serial/by-id/usb-Klipper_stm32f072xb_3D0036001353565639323120-if00
restart_method: command

[adc_temperature HOT_P]
temperature1:120 # value in Watts
#voltage1:1.32
voltage1:1.91 
temperature2:240 # value in Watts
voltage2:3.82 
#voltage2:2.64

[temperature_sensor Hotend_power]
sensor_pin: orbitoolO2S:PA0 
sensor_type: HOT_P

[firmware_retraction]
retract_length: .35 # user calibration needed
retract_speed: 35
unretract_extra_length: 0.0
unretract_speed: 45


[output_pin T0_RUN_LED]
pin: orbitoolO2S:PB13
value: 1
shutdown_value: 0

