[z_tilt]
## Use Z_TILT_ADJUST to level the bed .
## z_positions: Location of toolhead

z_positions:
    5.50, 33.50
    150.00, 275.50
    295.00, 33.50

points:
    16.00, 0.00
    163.00, 240.00
    284.00, 0.00

speed: 400
horizontal_move_z: 25
retries: 10
retry_tolerance: 0.0035000
